/* Variables used throughout will go here. */
/* EFA Color pallete */
body {
  padding-top: 40px; }

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

#blue {
  color: #18185e; }

.navbar {
  background-color: #18185e; }

.navbarLI {
  float: left;
  width: 25%;
  padding: 14px 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: whitesmoke; }

.navbarLI:hover {
  background-color: #282896;
  color: whitesmoke; }

@media only screen and (max-width: 768px) {
  #homeimage {
    background-image: url("../assets/family2017.jpg");
    /* background-position-x: -10em; */
    /* background-position-y: -10em;           
      /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (min-width: 768px) {
  #homeimage {
    background-image: url("../assets/family2017.jpg");
    /* background-position-x: -10em; */
    background-position-y: -12em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (max-width: 768px) {
  #homelabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11em;
    opacity: 0.75;
    position: relative;
    /* bottom: -0.285em; */
    /* left: 1em;  */
    height: 100%; } }

@media only screen and (min-width: 768px) {
  #homelabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    opacity: 0.75;
    position: relative;
    height: 100%;
    text-align: center;
    margin: auto auto; } }

@media only screen and (max-width: 768px) {
  #projectimage {
    background-image: url("../assets/family2016.jpg");
    /* background-position-x: -10em; */
    /* background-position-y: -10em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (min-width: 768px) {
  #projectimage {
    background-image: url("../assets/family2016.jpg");
    /* background-position-x: -10em; */
    background-position-y: -16em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (max-width: 768px) {
  #projectlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8em;
    opacity: 0.75;
    position: relative;
    /* bottom: -0.285em; */
    /* left: 1em;  */
    height: 100%; } }

@media only screen and (min-width: 768px) {
  #projectlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    opacity: 0.75;
    position: relative;
    height: 100%;
    text-align: center;
    margin: auto auto; } }

@media only screen and (max-width: 768px) {
  #aboutimage {
    background-image: url("../assets/family2.jpg");
    /* background-position-x: 0em; */
    /* background-position-y: -18em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (min-width: 768px) {
  #aboutimage {
    background-image: url("../assets/family2.jpg");
    /* background-position-x: 0em; */
    background-position-y: -25em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (max-width: 768px) {
  #aboutlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11em;
    opacity: 0.75;
    position: relative;
    /* bottom: -0.285em; */
    /* left: 1em;  */
    height: 100%; } }

@media only screen and (min-width: 768px) {
  #aboutlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    opacity: 0.75;
    position: relative;
    height: 100%;
    text-align: center; } }

@media only screen and (max-width: 768px) {
  #contactimage {
    background-image: url("../assets/family1.jpg");
    /* background-position-x: 0em; */
    /* background-position-y: -20em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (min-width: 768px) {
  #contactimage {
    background-image: url("../assets/family1.jpg");
    /* background-position-x: 0em; */
    background-position-y: -25em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; } }

@media only screen and (max-width: 768px) {
  #contactlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8em;
    opacity: 0.75;
    position: relative;
    /* bottom: -0.285em; */
    /* left: 1em;  */
    height: 100%; } }

@media only screen and (min-width: 768px) {
  #contactlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    opacity: 0.75;
    position: relative;
    height: 100%;
    text-align: center; } }

.footersection {
  background-color: #18185e; }

.footerText {
  color: whitesmoke; }

.footerText:hover {
  color: whitesmoke; }
