body {
  padding-top: 40px; }

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

#spacer {
  height: 5em;
  width: 100%;
  position: relative; }

section {
  padding-top: 40px; }

.navbar {
  background-color: #18185e; }

.navbarText {
  color: white;
}

ul {
  background-color: #18185e; }

nav {
  background-color: #18185e; }

li {
  float: left;
  width: 25%;
  display: block;
  padding: 14px 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center; }

li:hover {
  background-color: #282896; }

container-fluid:hover {
  background-color: #282896; }

#spacer {
  height: 5em;
  width: 100%;
  position: relative; }

@media only screen and (max-width: 768px) {
  #homeimage {    
    background-image: url("../assets/family2017.jpg");
    /* background-position-x: -10em; */
    /* background-position-y: -10em;           
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
    }
  }
  @media only screen and (min-width: 768px) {

    #homeimage {    
      background-image: url("../assets/family2017.jpg");
      /* background-position-x: -10em; */
      background-position-y: -12em;            
      /* object-fit: cover; */
      overflow: hidden;
      background-repeat: no-repeat;
      width: 100%;
      height: 17em;
      padding: 0;
      margin: 0;
      position: relative;
      /* opacity: 0.275; */
      background-size: cover; 
      }
    }
      
#homelabel {
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20em;
  opacity: 0.75;
  position: absolute;
  bottom: -0.285em;
  left: 1em; }

#spacer {
  height: 5em;
  width: 100%;
  position: relative; }

@media only screen and (max-width: 768px) {
  #projectimage {
    background-image: url("../assets/family2016.jpg");
    /* background-position-x: -10em; */
    /* background-position-y: -10em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
    }
  }
@media only screen and (min-width: 768px) {
  #projectimage {
    background-image: url("../assets/family2016.jpg");
    /* background-position-x: -10em; */
    background-position-y: -16em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
    }
}
  #projectlabel {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20em;
    opacity: 0.85;
    position: absolute;
    bottom: -0.285em;
    left: .5em; }
    
    #spacer {
  height: 5em;
  width: 100%;
  position: relative; }

@media only screen and (max-width: 768px) {
  #aboutimage {
    background-image: url("../assets/family2.jpg");
    /* background-position-x: 0em; */
    /* background-position-y: -18em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
    }
  }

@media only screen and (min-width: 768px) {
  #aboutimage {
    background-image: url("../assets/family2.jpg");
    /* background-position-x: 0em; */
    background-position-y: -25em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
    }
}

#aboutlabel {
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20em;
  opacity: 0.75;
  position: absolute;
  bottom: -0.285em;
  left: 1.075em; }

@media only screen and (max-width: 768px) {
  #contactimage {
    background-image: url("../assets/family1.jpg");
    /* background-position-x: 0em; */
    /* background-position-y: -20em; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
  }
}

@media only screen and (min-width: 768px) {
  #contactimage {
    background-image: url("../assets/family1.jpg");
    /* background-position-x: 0em; */
    background-position-y: -25em;
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 17em;
    padding: 0;
    margin: 0;
    position: relative;
    /* opacity: 0.275; */
    background-size: cover; 
  }
}
  #contactlabel {
    color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20em;
  opacity: 0.75;
  position: absolute;
  bottom: -0.285em;
  left: .6em; }

.footersection {
  background-color: #18185e; }
