p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}