body {
    padding-top: 40px;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#spacer {
    height: 5em;
    width: 100%;
    position: relative;
}
section {   padding-top: 40px;

}
#blue {
    color: rgb(24, 24, 94);

}