.navbar {
  background-color: rgb(24, 24, 94);

}





ul {
  background-color: rgb(24, 24, 94);
}
nav {
  background-color: rgb(24, 24, 94);
}
li {
  float: left;
  width: 25%;
  display: block;
  padding: 14px 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center;
}
li:hover {
  background-color: rgb(40,40,150);
}
container-fluid:hover {
  background-color: rgb(40,40,150);
}